*{
  padding: 0;
  margin: 0;
}

html, body, #root{
  height: 100%;
  width: 100%;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode';
}

.container{
  margin: auto;
  width: 40%;
}

.input-container{
  width: 100%;
}

.input-container input{
  width: 100%;
  height: 22px;
  padding: 5px;
  font-size: 20px;
  border: 2px solid black;
}

.cross-icon{
  font-weight: bolder;
  cursor: pointer;
}

.chip-box{
  background-color: rgb(179, 16, 144);
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 6px;
  border-radius: 10px;
  color: white;
  font-weight:700;
}

.chips-container{
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  justify-items: center;
  flex-wrap: wrap;
}