*{
  padding: 0;
  margin: 0;
}

html, body, #root{
  height: 100%;
  width: 100%;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode';
}

.container{
  margin: auto;
  width: 40%;
}

.input-container{
  width: 100%;
}

.input-container input{
  width: 100%;
  height: 22px;
  padding: 5px;
  font-size: 20px;
  border: 2px solid black;
}